body {
    margin: 0;
    background-color: white;
    
}

.container {
    max-width: 1000px;
    margin: 50px auto ;
    background-color: white;
    
   
    
    
}

.head {
    width: 1000px;
    height: 150px;
    background-image: url('img/pattern.png');
    background-size: contain;
    margin: 0 auto ;
    background-color:  #7db9f9;
}

#intro-font-1 {
    font-size: 30px;
    color: white;
    text-shadow: 1px 1px 0 #000;
    padding-top: 30px;
    
    
}

#intro-font-2 {
    font-size: 60px;
    color: white;
    text-shadow: 1px 1px 0 #000;
    
}

.address {
    font-size: 25px;
    color:grey;
}

.address.special {
    color: #7db9f9;
}
.date {
    font-size: 15px;
    color:grey;
}
.foto {
    
    margin: 0 auto;
    width: 1000px;
    height: 150px; 
    margin-top: 160px; 
    margin-bottom: 220px;
}

img {
    width: 470px;
    height: 360px;
    
}

.alt { font-size: 15px;
    margin-top: 5px;
}

p {
    font-size: 20px;

}
.evid {
    background-color: yellow;
}

li {
    font-size: 20px;
}

thead {
    width: 1000px;
    background-color: #7db9f9;
    color: white;
}
.aqua {
    background-color: aquamarine;
}



